<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>
  <title>直播间Demo</title>
  <link rel=stylesheet href=/vonic/vonic.min.css>
  <script src=/js/axios.js></script>
  <!--<script src="https://unpkg.com/axios/dist/axios.js"></script>-->
  <script src=/js/vue.js></script>
  <script src=/js/vue-router.js></script>
  <script src=/vonic/vonic.min.js></script>
  <link href=/css/app.de79f2ada18367144c34a6bd6a4aca91.css rel=stylesheet>
</head>
<body>
<von-app></von-app>

<script type=text/javascript src=/js/manifest.93b241f40b1dcd295d13.js></script>
<script type=text/javascript src=/js/vendor.3b3d0e156ec0ebcf4f90.js></script>
<script type=text/javascript src=/js/app.586252f6db96d377b4f1.js></script>
</body>
</html>
